<!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">

    {% set inventory_namespace = namespace(total_inventory_hosts=0) %}
    {% for job_template in job_template_info.json.results %}
        <!-- {{ job_template.summary_fields.inventory.total_hosts }} -->
        {% set inventory_namespace.total_inventory_hosts = inventory_namespace.total_inventory_hosts + job_template.summary_fields.inventory.total_hosts %}
    {% endfor %}

    {% set outside_loop = namespace(all_jobs_aggregate_total_elapsed_time=0.0, manual_jobs_aggregate_total_elapsed_time=0.0) %}
    {% set ns = namespace(total_elapsed_time=0.0, total_hosts=0, total_elapsed_manual_time=0.0) %}
    {% if all_jobs | length > 0 %}
        {% for job in all_jobs %}
            {% set job_elapsed_time = job.elapsed | default(0.0) %}
            {% set job_total_hosts = job.summary_fields.inventory.total_hosts | default(0) %}
            {% set job_template_id = job.job_template %}

            {% set project_info = job_template_info.json.results | selectattr("id", "equalto", job_template_id) | list %}
            {% if project_info | length > 0 %}
                {% set project_info = project_info[0] %}
                {% set loop_manual_time_per_job = (project_info.extra_vars | from_yaml).manual_time_per_job | default(0.0) %}
            {% else %}
                {% set loop_manual_time_per_job = 0.0 %}
            {% endif %}
            <!-- job_id: {{ job_template_id }} manual time: {{ loop_manual_time_per_job }} -->
            {% set ns.total_elapsed_time = ns.total_elapsed_time + job_elapsed_time %}
            {% set ns.total_hosts = ns.total_hosts + job_total_hosts %}
            {% set ns.total_elapsed_manual_time = ns.total_elapsed_manual_time + loop_manual_time_per_job %}
        {% endfor %}
    {% endif %}

    {% set running = ns.total_hosts %}
    {% set total = ns.total_hosts %}

    {% set total_jobs = all_jobs | length %}

    {% set jobs_per_inventory = total_jobs | default("0") %}

    {% if jobs_per_inventory <= 0 %}
    {% set hours_to_create_automation = 0 %}
    {% endif %}

  <div class="test_highlight">
        <h3>
            <div id="region_title">DevOps Service: {{ project_info.json.name | default('unknown') }}</div>
            {% if ns.total_elapsed_time is number %}
                <div id="job_time">
                {% set total_seconds = ns.total_elapsed_time %}
                {% set days = total_seconds // 86400 %}
                {% set hours = (total_seconds % 86400) // 3600 %}
                {% set minutes = ((total_seconds % 3600) // 60) + ((total_seconds % 60) / 60) %}
                {% set effective_running = running if running > 0 else 1 %}
                {% set total_seconds_manual = ns.total_elapsed_manual_time %}
                {% set days_manual = total_seconds_manual // 86400 %}
                {% set hours_manual = (total_seconds_manual % 86400) // 3600 %}
                {% set minutes_manual = ((total_seconds_manual % 3600) // 60) + ((total_seconds_manual % 60) / 60) %}
                {% set automation_cost = automated_process_cost * (total_seconds / 3600) %}
                {% set manual_cost = (total_seconds_manual / 3600) * manual_cost_per_hour %}
                {% set time_difference = total_seconds_manual - total_seconds %}
                {% set days_time_difference = time_difference // 86400 %}
                {% set hours_time_difference = (time_difference % 86400) // 3600 %}
                {% set minutes_time_difference = ((time_difference % 3600) // 60) + ((time_difference % 60) / 60) %}
                {% set automation_creation_cost = hours_to_create_automation * manual_cost_per_hour_to_automate %}
                {% set automation_cost_savings = manual_cost - automation_cost - automation_creation_cost %}

                <div id="time_saved">
                    <div id="time_saved_title">Time Saved</div>
                    <div id="time_saved_value">{{ days_time_difference | round(0) }} day(s) - {{ hours_time_difference | round(0) }} hour(s) - {{ minutes_time_difference | round(2) }} minute(s)</div>
                </div>

                <div id="automation_savings">
                    <div id="automation_savings_title">Value of Automation</div>
                    <div id="automation_savings_value">{{ "${:,.2f}".format(automation_cost_savings) }}</div>
                </div>
            </div>
            {% else %}
            <div id="no_automation">No Automation has been run</div>
            {% endif %}


        <div class="instances_highlight">
        <div class="instances_running">
                    <i class="fa-solid fa-server"></i> {{ inventory_namespace.total_inventory_hosts }} nodes
        </div>

        </h3>
        <div class="net_content">
            <table class="net_info inventory_info">
                <tbody>
                    <tr>
                        <th class="vpc_info"><p class="highlight_title">Project</p></th>
                        <th class="vpc_info"><p class="highlight_title">Description</p></th>
                        <th class="vpc_info"><p class="highlight_title">SCM URL</p></th>
                        <th class="vpc_info"><p class="highlight_title">Job Templates</p></th>
                        <th class="vpc_info"><p class="highlight_title">Total Jobs</p></th>
                        <th class="vpc_info"><p class="highlight_title">Total Nodes Executed against</p></th>
                        <th class="vpc_info"><p class="highlight_title">Unique Nodes</p></th>
                        <th class="vpc_info"><p class="highlight_title">Total Job Elapsed Time</p></th>

                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <a target="_blank" href="https://{{ automation_controller_host }}{{ project_info.json.name }}">
                                {{ project_info.json.name | default('unknown') }}
                            </a>
                        </td>
                        <td style="text-align: center;">{{ project_info.json.description }}</td>
                        <td style="text-align: center;"><a target=_"blank" href="{{ project_info.json.scm_url }}">{{ project_info.json.scm_url }}</a></td>
                        <td style="text-align: center;">{{ job_template_info.json.count }}</td>
                        <td style="text-align: center;">{{ total_jobs }}</td>
                        <td style="text-align: center;">{{ ns.total_hosts }}</td>
                        <td style="text-align: center;">{{ inventory_namespace.total_inventory_hosts }}</td>
                        <td style="text-align: center;">{{ ns.total_elapsed_time | round(2) }} seconds</td>
                    </tr>
                </tbody>
            </table>
            <table class="net_info main_attraction">
                <tbody>
                    <tr>
                        <th class="vpc_info title_main_attraction"><p class="highlight_title">Automation infra cost</p></th>
                        <th class="vpc_info title_main_attraction"><p class="highlight_title">Manual cost</p></th>
                    </tr>
                    <tr>
                        <td style="text-align: center;"><p class="highlight_value">${{ automation_cost | round(2) }}</p></td>
                        <td style="text-align: center;"><p class="highlight_value">{{ "${:,.2f}".format(manual_cost) }}</p></td>
                    </tr>
                </tbody>
            </table>
            <!-- <p class="table_title">Explanation of calculations</p> -->

            <!-- begin of expandable header -->

            <div class="inner-accordion">
                <h4>Explanation of calculations</h4>
                <div>
            <!-- end of expandable header -->

            <table class="net_info">
                <tbody>
                    <tr>
                        <th class="vpc_info"><p class="highlight_title">Automation time</p><p class="description_text">all automation job runtimes added together</p></th>
                        <th class="vpc_info"><p class="highlight_title">Automation infra cost</p><p class="description_text">automated_process_cost * (total_seconds / 3600)<br>{{ automated_process_cost }} * {{ (total_seconds / 3600) | round(2) }}</p></th>
                        <th class="vpc_info"><p class="highlight_title">Manual Time per Job</p><p class="description_text">(seconds)</p></th>
                        <th class="vpc_info"><p class="highlight_title">Total Time if entirely Manual</p><p class="description_text">manual time * hosts executed against<br>{{ manual_time_per_job }} * {{ ns.total_hosts }}</p></th>
                        <th class="vpc_info"><p class="highlight_title">Manual cost</p><p class="description_text">manual_cost_per_hour * (total_seconds_manual / 3600)<br>{{ manual_cost_per_hour }} * {{ (total_seconds_manual / 3600) | round(2) }}</p></th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">{{ days | round(0) }} day(s) - {{ hours | round(0) }} hour(s) - {{ minutes | round(2) }} minute(s)</td>
                        <td style="text-align: center;">${{ automation_cost | round(2) }}</td>
                        <td style="text-align: center;">{{ manual_time_per_job }}</td>
                        <td style="text-align: center;">{{ days_manual | round(0) }} day(s) - {{ hours_manual | round(0) }} hour(s) - {{ minutes_manual | round(2) }} minute(s)</td>
                        <td style="text-align: center;">${{ manual_cost | round(2) }}</td>
                    </tr>
                </tbody>
            </table><br><br>
            <table class="net_info">
                <tbody>
                    <tr>
                        <th class="vpc_info"><p class="highlight_title">Hours invested to create automation</p><p class="description_text">(hours)</p></th>
                        <th class="vpc_info"><p class="highlight_title">Cost per hour</p><p class="description_text">in $USD</p></th>
                        <th class="vpc_info"><p class="highlight_title">Automation creation cost</p><p class="description_text">hours_to_create_automation * manual_cost_per_hour_to_automate<br>{{ hours_to_create_automation }} * {{ manual_cost_per_hour_to_automate }}</p></th>
                        <th class="vpc_info"><p class="highlight_title">Value of Automation</p><p class="description_text">automation_cost_savings = manual_cost - automation_cost - automation_creation_cost<br>{{ manual_cost | round(2) }} - {{ automation_cost | round(2) }} - {{ automation_creation_cost }}</p></th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">{{ hours_to_create_automation }}</td>
                        <td style="text-align: center;">${{ manual_cost_per_hour_to_automate }}</td>
                        <td style="text-align: center;">${{ automation_creation_cost | round(2) }}</td>
                        <td style="text-align: center;">{{ "${:,.2f}".format(automation_cost_savings) }}</td>
                    </tr>
                </tbody>
            </table>
            <p class="table_title">User configured variables</p>
            <table class="net_info manual_var_table">
                <tbody>
                    <tr>
                        <th class="vpc_info"><p class="highlight_title">Variable</p><p class="description_text"></p></th>
                        <th class="vpc_info"><p class="highlight_title">Value</p><p class="description_text"></p></th>
                        <th class="vpc_info"><p class="highlight_title">Desciprtion</p><p class="description_text"></p></th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">manual_time_per_job</td>
                        <td style="text-align: center;">{{ manual_time_per_job }}</td>
                        <td style="text-align: center;">configurable time (in seconds) to manually complete the task on one host</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">automated_process_cost</td>
                        <td style="text-align: center;">{{ automated_process_cost }}</td>
                        <td style="text-align: center;">this is the cost per hour in $USD to run automation</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">manual_cost_per_hour</td>
                        <td style="text-align: center;">{{ manual_cost_per_hour }}</td>
                        <td style="text-align: center;">this is the cost of an engineer to do the eqvuialent of automation (manually configure something)</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">manual_cost_per_hour_to_automate</td>
                        <td style="text-align: center;">{{ manual_cost_per_hour_to_automate }}</td>
                        <td style="text-align: center;">this is the cost of an engineer to create automation, e.g. create an Ansible Playbook and test it</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">hours_to_create_automation</td>
                        <td style="text-align: center;">{{ hours_to_create_automation }}</td>
                        <td style="text-align: center;">this is amount of time in hours to develop automation for this inventory</td>
                    </tr>
                </tbody>
            </table>

            <!-- end of expandable header -->
            </div></div>
            <!-- end of expandable header -->


        </div>

    </div>

</div>
