<!-- INTERNAL TABLE FOR Ansible -->
<div id="accordion">
    {% for inventory in controller_inventory %}
    {% set inventory_id = inventory.id %}
    {% set total = inventory.total_hosts %}
    {% set stopped = inventory.hosts_with_active_failures %}
    {% set running = total - stopped %}

    {% if inventory_id in job_list_dict and job_list_dict[inventory_id].count > 0 %}
        {% set ns = namespace(total_elapsed_time=0.0) %}


        {% for job in job_list_dict[inventory_id].results %}
            {% set job_elapsed_time = job.elapsed | default(0.0) %}
            {% set ns.total_elapsed_time = ns.total_elapsed_time + job_elapsed_time %}
        {% endfor %}
    {% endif %}
    {% set jobs_per_inventory = job_list_dict[inventory.id].count | default("0") %}
    <div class="test_highlight">
        <h3>
            <div id="region_title">{{ inventory.name | default('unknown') }}</div>
            {% if ns.total_elapsed_time is number %}
                <div id="job_time">
                <div id="job_time_title">Automation Elapsed Time:</div>
                {% set total_seconds = ns.total_elapsed_time %}
                {% set days = total_seconds // 86400 %}
                {% set hours = (total_seconds % 86400) // 3600 %}
                {% set minutes = ((total_seconds % 3600) // 60) + ((total_seconds % 60) / 60) %}
                <div id="job_time_number">
                    {{ days | round(0) }} day(s) - {{ hours | round(0) }} hour(s) - {{ minutes | round(2) }} minute(s)
                </div>

                <div id="automation_cost">
                    {% set automation_cost = manual_cost_of_automation * total_seconds %}
                    <div id="automation_cost_title">Automation cost</div>
                    <div id="automation_cost_number">${{ automation_cost }}</div>
                </div>

                <div id="manual_cost">
                    {% set manual_time = manual_time_per_job * jobs_per_inventory %}
                    <div id="manual_cost_title">Manual cost</div>
                    <div id="manual_cost_number">${{ manual_time }}</div>
                </div>

                </div>
            {% else %}
            <div id="no_automation">No Automation has been run</div>
            {% endif %}


            <div class="instances_highlight">
                {% if total > 0 %}
                    {% if running > 0 %}
                    <div class="instances_running">
                    {% endif %}
                        <i class="fa-solid fa-server"></i> {{ running }} nodes
                    {% if running > 0 %}
                    </div>
                    {% endif %}
                    {% if stopped > 0 %}
                      <div class="instances_stopped"><i class="fa-solid fa-triangle-exclamation"></i> {{ stopped }} failed ({{ total }} total)</div>
                    {% else %}
                    {% endif %}
                {% else %}
                    <div class="no_nodes">No Nodes</div>
                {% endif %}
            </div>
        </h3>
        <div class="net_content">
            <table class="net_info">
                <tbody>
                    <tr>
                        <th class="vpc_info">Description</th>
                        <th class="vpc_info">ID</th>
                        <th class="vpc_info">Job Runs</th>
                        <th class="vpc_info">Job Templates</th>
                        <th class="vpc_info">Groups</th>
                        <th class="vpc_info">Inventory Sources</th>
                        <th class="vpc_info">URL</th>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                        {% if inventory.description == '' %}
                        No description provided
                        {% else %}
                        {{ inventory.description }}
                        {% endif %}
                        </td>
                        <td style="text-align: center;">{{ inventory.id | default("unknown") }}</td>
                        <td style="text-align: center;">{{ job_list_dict[inventory.id].count | default("0") }}</td>
                        <td style="text-align: center;">{{ job_template_list_dict[inventory.id].count | default("0") }}</td>
                        <td style="text-align: center;">{{ inventory.total_groups }}</td>
                        <td style="text-align: center;">{{ inventory.total_inventory_sources }}</td>
                        <td style="text-align: center;"><a target="_new" href="https://{{automation_controller_host}}/{{ inventory.url }}">Link</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
</div>
<!-- END INTERNAL TABLE FOR Ansible -->
